<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>workded</h1>



  <form action="/?_method=PATCH" method="post">
    <label for="title">type title</label>
    <input type="text" name="title" required value="<%= values[idx][0] %>">
    <label for="word">type word</label>
    <input type="text" name="words" required value="<%= values[idx][1] %>">
    <input type="submit" value="Create Daily">
  </form>
  

  
</body>
</html>